@charset "UTF-8";
@keyframes gradient {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
 }
:root{
    --insta: linear-gradient(
         45deg ,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
    );
    --face: linear-gradient(
         45deg ,
        #ffffff,
        #4341dd,
        #141286 
    );
    --github: linear-gradient(
         45deg ,
        #ffffff,
        rgb(32, 32, 32),
        black 
    );
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}
::-webkit-scrollbar{ 
    width: 0px;
    height: 0px;
    
}
img{
    width: 100%;
    height: max-content;
}

#tela{

    width: 100%;
    height: max-content;
    
}
a{
    width: 96%;
    background-color: lightgray;
    margin-bottom: 2px;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;

}
a:hover{
    
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.603);
    transform: translateY(-2px);
    transition: transform 0.3s;
}
#insta{
    background-image: var(--insta);
    background-size: 500% 500% ;
    border-radius: 50px;
    animation: gradient 4s infinite alternate ; 
   
}
#linkedin{
    background-image: var(--face);
    background-size: 500% 500% ;
    border-radius: 50px;
    animation: gradient 4s infinite alternate ;
}
#face{
    background-image: var(--face);
    background-size: 500% 500% ;
    border-radius: 50px;
    animation: gradient 4s infinite alternate ; 
}
#github{
    background-image: var(--github);
    background-size: 500% 500% ;
    border-radius: 50px;
    animation: gradient 4s infinite alternate ; 
}